.hotspot-menu {
	background: @menu-item;

	.menu-header {
		padding: @menu-header-padding-ver @menu-header-padding-hoz;
	}

	.menu-header-inner {
		text-align: center;
	}

	.menu-title {
		color: @menu-item-inverted;
		padding: @menu-title-margin;
	}

	.menu-body {
		color: @menu-item-inverted;
		padding-bottom: @menu-body-margin;
	}

	.menu-instruction {
		.instruction-text;
		color: @menu-item-inverted;
		padding-bottom: @menu-instruction-margin;

		instr {
      color: @item-color;
    }
	}

	.hotspot-container-inner {
		@media all and (max-width:@device-width-medium) {
			padding: @menu-padding-ver, @menu-padding-hoz;
		}
	}

	.hotspot-container-image {
		display: block;
		@media all and (max-width:@device-width-medium) {
			display: none;
		}
	}

	.js-children {
		position: absolute;

		@media all and (max-width:@device-width-medium) {
			position: static;
		}
	}

	.menu-item {
		position: static;
		color: @menu-item-inverted;

		@media all and (max-width:@device-width-medium) {
			width: 50%;
			float:left;
			&.nth-child-odd {
				.menu-item-inner {
					margin-right: 10px;
				}
			}

			&.nth-child-even {
				.menu-item-inner {
					margin-left: 10px;
				}
			}
		}
	}

	.menu-item-graphic-button {
		position: absolute;
		display: block;

		@media all and (max-width:@device-width-medium) {
			display: none;
		}

  	img {
  		display: block;
  	}
  	&.graphic-button-states {
      img.graphic-button-hover {
    		display: none;
    	}
    	img.graphic-button-visited {
    		display:none;
    	}
  		.no-touch & {
  			&:hover {
          > img {
        		display:none;
        	}
        	img.graphic-button-hover {
        		display: block;
        	}
        	img.graphic-button-visited {
        		display:none;
        	}
  			}
  		}
  	}
  	&.is-visited {
      > img {
    		display:none;
    	}
    	img.graphic-button-hover {
    		display: none !important;
  		}
  		img.graphic-button-visited {
				display:block !important;
			}
  		&.show:hover {
        > img {
      		display:none;
      	}
      	img.graphic-button-hover {
      		display: block;
      	}
      	img.graphic-button-visited {
      		display:none;
      	}
  		}
  	}

		&.is-disabled {
			cursor: default;
			background-color: transparent !important;
		}
  }

	.menu-item-hotspot {
		position: absolute;
		display: block;

		color: @menu-item-btn-color-inverted;
		background-color: @menu-item-btn-color;
		border:2px solid @menu-item-btn-color;

		text-align: center;

		&.number-enabled {
			width:50px;
			height:50px;
			border-radius: 50%;
			font-weight: bold;
			font-size: @icon-size;
		}

		&.icon-enabled {
			width:50px;
			height:50px;
			border-radius: 50%;
		}

		&.title-enabled {
			text-decoration:none;
			font-weight: bold;
			font-size: @menu-subtitle-size;
			padding: @item-padding;

			&::before {
				content: "";
			  position: absolute;
			  top: 100%;
			  left: 50%;
			  margin-left: -12px;
			  border-width: 12px;
			  border-style: solid;
			  border-color: @menu-item-btn-color transparent transparent transparent;
			}

			&::after {
				content: "";
			  position: absolute;
			  top: 100%;
			  left: 50%;
				margin-top: -4px;
			  margin-left: -12px;
			  border-width: 12px;
			  border-style: solid;
			  border-color: @menu-item-btn-color transparent transparent transparent;
			}

			&.is-disabled {
				&::before {
					content: "";
				  position: absolute;
				  top: 100%;
				  left: 50%;
				  margin-left: -12px;
				  border-width: 12px;
				  border-style: solid;
				  border-color: @disabled transparent transparent transparent;
					cursor: default;
				}

				&::after {
					content: "";
				  position: absolute;
				  top: 100%;
				  left: 50%;
					margin-top: -4px;
				  margin-left: -12px;
				  border-width: 12px;
				  border-style: solid;
				  border-color: @disabled transparent transparent transparent;
					cursor: default;
				}
			}
		}

		.no-touch &:not(.is-disabled) {
			&:hover {
				background-color: @btn-color-hover;
				border:2px solid @btn-color-inverted;
				color: @btn-color-inverted-hover;

				&::after {
					border-color: @btn-color-hover transparent transparent transparent;
				}
			}
		}

		&.is-visited {
			background-color: @disabled;
			color: @disabled-inverted;

			&::after {
				color: @disabled-inverted;
				border-color: @disabled transparent transparent transparent;
			}
		}

		@media all and (max-width:@device-width-medium) {
			display: none;
		}
	}

	.menu-item-inner {
		display: none;
		width: 50%;
		left: 25%;
		position: absolute;
		padding: @menu-padding-ver @menu-padding-hoz;
		background: @menu-item;
		z-index: 100;

		&.show-item {
			display:block;
		}
		@media all and (max-width:@device-width-medium) {
			display:block;
			position: static;
			width:auto;
			left: 0;
		}
	}

	.menu-item-inner.is-disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	.menu-item-overlay {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99;
		background-color: @menu-item;
	}

	.menu-item-done {
		position: absolute;
		top: @menu-padding-ver;
		right: @menu-padding-hoz;
		color: @btn-color-inverted;
		padding: @item-padding;

		.dir-rtl & {
			right: inherit;
			left: @menu-padding-hoz;
    }

		.no-touch & {
			&:hover {
				color: @btn-color-hover;
			}
		}

		@media all and (max-width:@device-width-medium) {
			display: none;
		}
	}

	.menu-item-graphic {
		img {
			display: block;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.menu-item-title {
		padding: @menu-padding-ver @menu-padding-hoz 0 @menu-padding-hoz;
	}

	.menu-item-body {
		padding: @menu-body-margin;
	}

	.menu-item-button {
		padding: @btn-padding;
		text-align: center;

		button {
			&.is-visited {
				background-color: @disabled;
				color: @disabled-inverted;
			}
		}
	}

	.menu-item-duration {
		text-align: center;
	}

	.js-menu-item-progress {
		text-align: center;
		padding: @menu-padding-ver;

		.pagelevelprogress-indicator {
			background-color: @menu-item-progress;
			width: 100px;
			height: 14px;
		}

		.pagelevelprogress-indicator-inner {
			border: none;
			height: 10px;
		}

		.pagelevelprogress-indicator-bar {
			background-color: @menu-item-progress-inverted;
		}
	}

	.audio-inner {
		display: inline;
    float: right;
		.dir-rtl & {
			float:left;
		}
	}

	.audio-toggle {
    color: @item-color-inverted;
    background-color: @item-color;
    padding: @item-padding;
    &:hover{
      color: @item-color-inverted-hover;
      background-color: @item-color-hover;
    }
    &.hidden {
	    display: none;
	  }
	}

	@media all and (max-width:@device-width-medium) {
		.menu-item {
			width: 100%;
			margin-bottom: @menu-padding-ver;
			.menu-item-inner {
				margin: 0;
			}
	  }
	}

}
