.hotspot-menu {
	background: @primary-color;

	.menu-header {
		padding: 0;
	}

	.menu-header-inner {
		text-align: center;
	}

	.menu-title {
		color: @foreground-color-inverted;
		padding: @menu-title-padding-top;
	}
	.menu-body {
		color: @foreground-color-inverted;
	}

	.menu-instruction {
		.instruction-text;
		color: @foreground-color-inverted;
		padding-bottom: @menu-title-padding-bottom;

		instr {
      color: @instruction-color;
    }
	}

	.hotspot-container-inner {
		position: relative;
		@media all and (max-width:@device-width-medium) {
			padding: @menu-title-padding-bottom;
		}
	}

	.hotspot-container-image {
		display: block;
		@media all and (max-width:@device-width-medium) {
			display: none;
		}
	}

	.hotspot-items {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		@media all and (max-width:@device-width-medium) {
			position: static;
		}
	}

	.menu-item {
		position: static;
		@media all and (max-width:@device-width-medium) {
			width: 50%;
			float:left;
			&.nth-child-odd {
				.menu-item-inner {
					margin-right: 10px;
				}
			}

			&.nth-child-even {
				.menu-item-inner {
					margin-left: 10px;
				}
			}
		}
	}

	.menu-item-graphic-button {
		position: absolute;
		display: block;

		@media all and (max-width:@device-width-medium) {
			display:none;
		}

  	img {
  		display: block;
  	}
  	&.graphic-button-states {
      img.graphic-button-hover {
    		display: none;
    	}
    	img.graphic-button-visited {
    		display:none;
    	}
  		.no-touch & {
  			&:hover {
          > img {
        		display:none;
        	}
        	img.graphic-button-hover {
        		display: block;
        	}
        	img.graphic-button-visited {
        		display:none;
        	}
  			}
  		}
  	}
  	&.visited {
      > img {
    		display:none;
    	}
    	img.graphic-button-hover {
    		display: none !important;
  		}
  		img.graphic-button-visited {
				display:block !important;
			}
  		&.show:hover {
        > img {
      		display:none;
      	}
      	img.graphic-button-hover {
      		display: block;
      	}
      	img.graphic-button-visited {
      		display:none;
      	}
  		 }
  	}
  }

	.menu-item-hotspot {
		position: absolute;
		display: block;

		color: @item-text-color;
		background-color: @button-color;
		border:2px solid @item-text-color;

		text-align: center;

		&.number-enabled {
			width:50px;
			height:50px;
			border-radius: 50%;
			font-weight: bold;
			font-size: @icon-size;
		}

		&.icon-enabled {
			width:50px;
			height:50px;
			border-radius: 50%;
		}

		&.title-enabled {
			text-decoration:none;
			font-weight: bold;
			font-size: @sub-title-font-size;
			padding: @item-padding;
		}

		.no-touch & {
			&:hover {
				background-color: @button-color-hover;
				border:2px solid @item-text-color;
				color: @item-text-color-hover;

				&::after {
					border-color: @button-color-hover transparent transparent transparent;
				}

			}
		}

		&.visited {
			background-color: @button-disabled-color;
			color: @button-text-disabled-color;

			&::after {
				color: @button-text-disabled-color;
				border-color: @button-disabled-color transparent transparent transparent;
			}
		}

		@media all and (max-width:@device-width-medium) {
			display:none;
		}
	}

	.title-enabled:before {
		content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
	  margin-left: -12px;
	  border-width: 12px;
	  border-style: solid;
	  border-color: @item-text-color transparent transparent transparent;
	}

	.title-enabled:after {
		content: "";
	  position: absolute;
	  top: 100%;
	  left: 50%;
		margin-top: -4px;
	  margin-left: -12px;
	  border-width: 12px;
	  border-style: solid;
	  border-color: @button-color transparent transparent transparent;
	}

	.menu-item-inner {
		display: none;
		width: 50%;
		left: 25%;
		position: absolute;
		padding: @component-padding;
		background: @background-color;
		margin-top: 40px;
		z-index: 100;

		&.show-item {
			display:block;
		}
		@media all and (max-width:@device-width-medium) {
			display:block;
			position: static;
			width:auto;
			left: 0;
		}
	}
	.menu-item-inner.disabled {
		cursor: not-allowed;
		opacity: .5;
	}

	.menu-item-overlay {
		display: none;
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99;
		background-color: @transparency;
		.no-opacity & {
			background-image: @transparency-fallback-png;
		}
	}

	.menu-item-done {
		color: @button-color;
		float: right;
		padding: 10px 10px 0px 0px;
		.dir-rtl & {
      float: left;
      padding: 10px 0px 0px 10px;
    }
		.no-touch & {
			&:hover {
				color: @button-color-hover;
			}
		}
		@media all and (max-width:@device-width-medium) {
			display:none;
		}
	}

	.menu-item-title {
		padding: @menu-body-padding;
		font-size: @item-title-font-size + 4px;
	}

	.menu-item-body {
		padding: @menu-body-padding;
	}

	.menu-item-button {
		padding: @menu-body-padding;

		button {
			text-decoration: none;
			background-color: @button-color;
			color: @button-text-color;
			padding: @button-padding;

			&:hover {
				background-color: @button-color-hover;
				color: @button-text-color-hover;
			}

			&.visited {
				background-color: @button-disabled-color;
				color: @button-text-disabled-color;
			}
		}
	}

	.menu-item-duration {
		float: right;
		.dir-rtl & {
      float: left;
    }
	}

	.page-level-progress-menu-item-indicator {
		width: 60px;
		height: 10px !important;
		background-color: @menu-item-progress-color;
		border: none !important;
		border-radius: 25px;
	}

	.page-level-progress-menu-item-indicator-bar {
		height: 10px !important;
		background-color: @menu-item-progress-fill-color !important;
		border: none !important;
		border-radius: 25px;
	}

	.audio-inner {
		display:inline;
    float: right;
		.dir-rtl & {
			float:left;
		}
	}

	.audio-toggle {
    color: @item-text-color;
    background-color: @item-color;
    padding: @item-padding;
    .transition-all-colors;
    &:hover{
      color: @item-text-color-hover;
      background-color: @item-color-hover;
    }
    &.hidden {
	    display: none;
	  }
	}

}



@media all and (max-width:@device-width-medium) {
	.menu-title-inner {
		padding: 15px 0 0;
	}

	.menu-body-inner {
		padding: 0px 0 10px;
	}

  .hotspot-menu {
		.menu-inner {
			padding: 0;
		}

		.menu-item {
			width:100%;
			margin-bottom: 20px;

			.menu-item-inner {
				margin: 0;
			}
		}
  }
}
